* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movie-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid lightgray;
    width: 650px;
}

.container-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid lightblue;
}

.movie-description {
    max-width: 275px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
}

.close {
    color: red;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: darkred;
}

.movie-pic {
    width: 300px;
    height: 150px;
    object-fit: cover;
    object-position: left top;
}